*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

/* Header */

.header {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.nav-menu ul {
  display: flex;
  gap: 5rem;
  color: white;
  list-style-type: none;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: white;
}

.icon {
  display: none;
}

@media screen and (width <= 700px) {
  .nav-menu ul {
    gap: 2rem;
  }
}

@media screen and (width <= 540px) {
  .header {
    position: relative;
    padding: 0 1rem;
  }

  .navbar {
    width: 400px;
    background-color: black;
    height: 200vh;
    position: fixed;
    top: 80px;
    right: 0;
    transition: 350ms ease-in;
    right: -400px;
  }

  .active {
    right: 0;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    z-index: 25;
  }

  .nav-menu ul li {
    position: relative;
    animation: menuslider 650ms forwards ease 1s;
  }

  .icon {
    display: block;
    color: white;
    font-size: 25px;
  }

  @keyframes menuslider {
    from {
      right: -400px;
    }
    to {
      right: 0;
    }
  }
}

/* ========================================== */

/* Hero */

.hero {
  background: url("./assets/pizza.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2.5rem;
  gap: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-head {
  font-size: 40px;
}

.hero-head h1 {
  font-weight: 100;
}

.hero-sub {
  font-size: 28px;
  text-transform: uppercase;
}

.hero-btn button {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #121619;
  color: white;
  letter-spacing: 0.4rem;
}

.hero-btn button:hover {
  background-color: #07090a;
  transition: 0.3s ease-in;
}

@media screen and (width <= 540px) {
  .hero {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 2rem 2rem;
    margin-right: 2rem;
    background-color: #121619;
    color: white;
  }

  .hero-head {
    font-size: 25px;
  }

  .hero-sub {
    font-size: 20px;
  }

  .hero-btn button {
    padding: 0.5rem 1rem;
    font-size: 15px;
    background-color: #fff;
    color: #121619;
    font-weight: 800;
  }
}

/* ================================ */

/* MenuList */

.menu-list {
  width: 70vw;
  margin: 0 auto;
}

.menu-head h1 {
  text-align: center;
  margin: 4rem 0;
}

.menu-list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.card {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms all;
  margin-bottom: 5rem;
}

.image-head img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.text-head {
  margin-top: 1rem;
  margin-left: 1rem;
}

.card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

@media screen and (width <= 540px) {
  .menu-list-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .card {
    margin-bottom: 2rem;
  }
}
/* ======================== */

/* About */

.top-container {
  background: url("./assets/multiplePizzas.jpeg");
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: 100% bottom;
}

.bottom-container {
  max-width: 1000px;
  margin: 0 auto;
}

.bottom-container h1 {
  margin: 3rem 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
}

.bottom-container p {
  margin: 2.5rem 0;
}

/* ========================= */

/* Contact */

.contact {
  display: flex;
  gap: 2rem;
}

.left-container {
  background: url("./assets/pizzaLeft.jpg");
  height: 900px;
  width: 900px;
  background-size: cover;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-container h1 {
  font-weight: 100;
  font-size: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
  width: 650px;
}

.form label {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.form input {
  padding: 0.65rem;
  border: none;
  outline: none;
  width: 100%;
}

.form input::placeholder,
textarea::placeholder {
  color: #07090a;
  font-weight: 600;
}

textarea {
  border: none;
  margin-top: 1.2rem;
  outline: none;
}

.form button {
  width: 25%;
  padding: 0.56rem;
  border-radius: 5px;
  background-color: #121619;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.form button:hover {
  background-color: #121619;
}

@media screen and (width <= 540px) {
  .left-container {
    display: none;
  }

  .form {
    width: 300px;
    margin-left: 2rem;
  }
}

/* =========================== */

/* Footer */

.footer {
  height: 200px;
  background-color: #121619;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icons {
  display: flex;
  gap: 2.5rem;
  font-size: 3.5rem;
  cursor: pointer;
}

@media screen and (width <= 540px) {
  .social-icons {
    font-size: 18px;
  }
}
/* ============================= */

/* MEDIA QUERIES */
