*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  height: 80px;
  background-color: black;
  display: flex;
  gap: 55rem;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  gap: 3rem;
  color: white;
  list-style-type: none;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: white;
}

/* ========================================== */

/* Hero */

.hero {
  background: url("./assets/pizza.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2.5rem;
  gap: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-head {
  font-size: 40px;
}

.hero-head h1 {
  font-weight: 100;
}

.hero-sub {
  font-size: 28px;
  text-transform: uppercase;
}

.hero-btn button {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #121619;
  color: white;
  letter-spacing: 0.4rem;
}

.hero-btn button:hover {
  background-color: #07090a;
  transition: 0.3s ease-in;
}

/* ================================ */

/* MenuList */

.menu-list {
  width: 70vw;
  margin: 0 auto;
}

.menu-head h1 {
  text-align: center;
  margin: 4rem 0;
}

.menu-list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.card {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms all;
  margin-bottom: 5rem;
}

.image-head img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.text-head {
  margin-top: 1rem;
  margin-left: 1rem;
}

.card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

/* ======================== */

/* About */

.top-container {
  background: url("./assets/multiplePizzas.jpeg");
  width: 100%;
  height: 400px;
  object-fit: cover;
  background-position: 100% bottom;
}

.bottom-container {
  max-width: 1000px;
  margin: 0 auto;
}

.bottom-container h1 {
  margin: 3rem 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
}

.bottom-container p {
  margin: 2.5rem 0;
}

/* ========================= */

/* Contact */

.contact {
  display: flex;
  gap: 2rem;
}

.left-container {
  background: url("./assets/pizzaLeft.jpg");
  height: 900px;
  width: 900px;
  background-size: cover;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-container h1 {
  font-weight: 100;
  font-size: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4rem;
  width: 650px;
}

.form label {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.form input {
  padding: 0.65rem;
  border: none;
  outline: none;
  width: 100%;
}

.form input::placeholder,
textarea::placeholder {
  color: #07090a;
  font-weight: 600;
}

textarea {
  border: none;
  margin-top: 1.2rem;
  outline: none;
}

.form button {
  width: 25%;
  padding: 0.56rem;
  border-radius: 5px;
  background-color: #121619;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.form button:hover {
  background-color: #121619;
}

/* =========================== */

/* Footer */

.footer {
  height: 200px;
  background-color: #121619;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icons {
  display: flex;
  gap: 2.5rem;
  font-size: 3.5rem;
  cursor: pointer;
}

/* ============================= */
